__pycache__/
*.pyc
tmp/
tmp/host_libs/
tmp/*.o
tmp/*.log
tmp/reference_cases/
tmp/reference_params/
Catapult/
Catapult_*/
rtl_backup/
catapult.log
catapult.pinfo
work/
command.log
novas.conf
novas.rc
sysBusyP.conf
sysBusyPLog/
verdiLog/